.wrapper {
  min-height: 100vh;
}

.form {
  width: 400px;

  padding: var(--mantine-spacing-md);
  background-color: var(--mantine-color-white);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-md);

  &__title {
    text-align: center;
    font-size: var(--mantine-font-size-lg);
    font-weight: 500;
  }

  &__forgotPassword {
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-blue);
  }
}
